* {
    box-sizing: border-box;
}
.calculator {
 padding: 20px;
 border-radius: 20px;
 height: 550px;
 max-width: 450px;
 background-color: cornsilk;
 border: 2px black solid;
}
p {
    display: block;
    font-size: 20px;
    padding: 0 31px;
    margin: 0;
}
.output-container {
 background-color: white;
 border: solid black 0.5px;
 color: black;
 font-size: 20px;
 padding: 0 10px;
 border-radius: 5px;
 width: 95%;
 height: 65%;
}
.button {
font-size: 20px;
 background-color: sandybrown;
 color: white;
 border: solid black 0.5px;
 width: 100%;
 border-radius: 5px;
 height: 65%;
 outline: none;
}
.button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}
.container {
    display: flex;
    justify-content: space-around;
}
#history {
    height: 510px;
    max-width: 500px;
    padding: 20px;
    font-size: 20px;
    overflow-y: auto;
}
.history {
    background-color: wheat;
    font-weight: 800;
    border: burlywood 1px solid;
    margin-bottom: 10px;
}
.history > * {
    margin: 10px;
}